<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/post-detail.css" />

    <title>Instagram-Mock</title>
</head>
<body>
    <div>
		<h1>Instagram-Mock</h1>
	</div>
	<div class="post">
        <div class="image"><img src="./upload/{{.Data.UrlPhoto}}" alt="" /></div>
        <div class="post-detail">
            <div>username: {{.Data.Username}}</div>
			<div>createdAt: {{.Data.CreatedAt}}</div>
			<div>likes: {{.Data.Likes}}</div>
			<div>description: {{.Data.Description}}</div>
        </div>
    </div>
    <div class >

    </div>
</body>
</html>